@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');

* {
    box-sizing: border-box;
}

.menu a{
    display: block ;
    font-size: 20px ;
    list-style-type: none ;
    font-weight: bold ;
    color: white ;
    text-decoration: none ;
    margin: 0.5rem; 
    
    
    
}

.menu {
    display: flex ;
    flex-direction: row ;
    justify-content: flex-start;
    margin:0;
    padding: 0;
    background-color: grey;
    
}

html, body{
    margin:0;
    padding: 0;
}

head{
    display: flex ;
    justify-content: center ;
    color: white ;
    height: 60px;
    background-color: orange;  
}

title{
    background-color: orange ;
}

.active {
    background-color: white ;
    
}

.active a{
    color: darkorange;
}



.menu li:hover {
    background-color: white;
    
    
}

.menu li:hover a{
    color: darkorange;
     
}

header h2{
    border-bottom: 1px;
    border-bottom-style:solid
}

header p{
    flex-direction: row ;
    justify-content: flex-end ;
}