@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');



body{
    background-image: url(ressources/MicrosoftTeams-image.png) ;
    background-size: cover;
}

h1 {
    font-family: papyrus ;
    display: flex ;
    justify-content: center ;
    color: sandybrown ;
    font-size: 50px ;
} 

#mapid { 
     height: 400px;
      width: 900px;
     margin: auto ;
}